.decorations-section {
    &.index {
        .decorations-wrapper {
            .description {
                // white-space: pre-wrap;
                // white-space: break-all;

                word-break: break-word;
                text-align: center;
            }

            .hes-gallery {
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .image-wrapper {
                    margin: 5px;
                    .img {
                        cursor: pointer;
                        width: 200px;
                    }
                }
            }

            .actions {
                margin-top: 40px;
            }
        }
    }

    &.create,
    &.edit {
        input[name="title1"],
        input[name="title2"] {
            padding: 5px;
            width: 100%;
        }

        textarea {
            text-align: center;
            width: 100%;
        }
    }

    &.create {
        input,
        textarea {
            resize: vertical;
            width: 100%;
        }
    }
}
