.history-section {
    .history-list {
        .histories-list-item {
            .images-wrapper {
                flex-wrap: wrap;

                > div {
                    margin: 5px;
                    .history-image {
                        cursor: pointer;
                        width: 200px;
                        height: 100%;
                    }
                }
            }
        }
    }

    .monument-info-wrapper {
        display: flex;
        flex-direction: column;
        .monument-images {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
        }
    }
}
