.standard-section {
    img {
        cursor: pointer;
        height: 400px;
        width: 400px;
    }
}

@media screen and (max-width: 576px) {
    .standard-section {
        img {
            width: 100%;
        }
    }
}
