.bgc-green {
  background-color: #2ecc71;
}

.padding {
  padding: 0px 50px;
}

a.link {
  color: black;
  text-decoration: none;
}

a.link:hover {
  text-decoration: underline;
}

.flex-column-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 5;
}

.flex-column {
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}

.flex-column-center {
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-center-center {
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unorder-list-styles-reset {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.user-name {
  font-weight: bold;
}

html,
body {
  min-height: 100%;
}

body {
  background-color: #fff;
  text-align: center;
  min-height: 100vh;
  padding: 0;
  margin: 50px;
  border: 2px solid #2ecc71;
}

.header {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background-color: #fff;
}

.header img {
  height: 150px;
  width: 150px;
}

ul.top-links {
  background-color: #07a249;
  padding: 20px;
  margin: 0px;
  list-style: none;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
}

.main {
  display: -ms-flex;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.main .aside-left,
.main .aside-right {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  height: 60vh;
  margin-top: 10px;
}

.main .aside-left {
  display: inherit;
  flex-direction: column;
  white-space: nowrap;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.main .aside-left .nav .ul {
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main .aside-left .nav .ul .li {
  margin-top: 10px;
}

.main .aside-left .nav .ul .li:first-child {
  margin-top: 0;
}

.main .aside-left img {
  margin: 0px auto;
  display: block;
  height: 100px;
  width: 90%;
}

.main .aside-left img + p {
  margin: 5px 0px;
}

.main .aside-right {
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  text-align: center;
}

.main .aside-right figure {
  margin: 0;
}

.main .aside-right figure img {
  width: 150px;
  height: 100px;
}

.footer {
  position: relative;
  text-align: center;
  font-size: 12px;
  margin-top: 150px;
}

.footer-img {
  width: 100%;
}

.footer-link {
  position: absolute;
  right: 0px;
}

.footer-link img {
  height: 50px;
  width: 75px;
}

.footer .link-one {
  top: 20%;
}

.footer .link-two {
  top: 50%;
}

.footer-text {
  padding: 20px 10px;
  margin: 0;
}

.index-section {
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.index-section img {
  width: 100%;
}

.index-section .oath {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5em;
  margin: 10px;
  width: 85%;
}

.club-info {
  text-align: center;
  margin-top: 30px;
}

.club-info .h1 {
  color: blue;
}

.club-info .paragraph {
  font-size: 1.1em;
}

.history-section img {
  cursor: pointer;
  width: 200px;
}

.history-section hr {
  border-color: black;
}

.history-section .monument-info-wrapper {
  display: flex;
  flex-direction: column;
}

.history-section .monument-info-wrapper .monument-images {
  display: -ms-flex;
  display: flex;
}

.standard-section {
  flex: 5;
}

.standard-section img {
  width: 400px;
  height: 400px;
}

.decorations-section .hes-gallery img {
  cursor: pointer;
  width: 400px;
}

.decorations-section .ul {
  display: table;
  margin: 0 auto;
}

.hunting-ground-section {
  flex: 5;
}

.hunting-ground-section img {
  width: 90%;
}

.address-section {
  font-size: 18px;
  height: 100%;
}

.management-section .management-img {
  width: 200px;
}

